/* src/components/NavBar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 2px -2px gray;
  z-index: 1000;
  padding: 15px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 50px;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-links li {
  font-size: 1.1rem;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #ff5722;
}
